<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Regex</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/" class="active">Home<br></a></li>

                <li><a href="/hod">Hod</a></li>


                <li><a href="/college">College</a></li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-getstarted dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Account
                        </button>
                        <ul class="dropdown-menu">
                            {{#if login}}
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            {{else}}
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                            <li><a class="dropdown-item" href="/signup">Signup</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>