<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>

<body>
  {{#if hod}}
  {{>hodNavbar}}
  {{/if}}
  {{#if student}}
  {{>studentNavbar}}
  {{/if}}
  {{#if collage}}
  {{>collageNavbar}}
  {{/if}}

  {{{body}}}
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>