<div class="container">
    <form action="/student-register" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12 p-3">
                <h2>Personal Details</h2>
            </div>
            <div class="col-lg-6 p-2">
                <label for="birthcer">Birth certificate (pdf)</label>
                <input type="file" accept=".pdf"  name="birthcer" id="birthcer" class="form-control">
            </div>
            <div class="col-lg-12 p-3">
                <h2>SSLC</h2>
            </div>
            <div class="col-lg-6 p-2">
                <label for="sslcno">Sslc certificate no:</label>
                <input type="number" name="sslcno" id="sslcno" placeholder="Enter Sslc Certificate no"
                    class="form-control">
            </div>
            <div class="col-lg-6 p-2">
                <label for="sslc">Sslc certificate (pdf)</label>
                <input type="file" accept=".pdf"  name="sslc" id="sslc" class="form-control">
            </div>
            <div class="col-lg-12 p-3">
                <h2>Plus two</h2>
            </div>
            <div class="col-lg-6 p-2">
                <label for="Plustwono">Plustwo certificate no:</label>
                <input type="number" name="plustwono" id="Plustwono" placeholder="Enter Plus two Certificate number"
                    class="form-control">
            </div>
            <div class="col-lg-6 p-2">
                <label for="Plustwo">Plustwo certificate (pdf)</label>
                <input type="file" accept=".pdf"  name="plustwo" id="Plustwo" class="form-control">
            </div>

            <div class="col-lg-12 p-2 text-center">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>