<div class="container">
    <form action="#" method="post">
        <div class="row">
            <form action="/student" method="post">
                <div class="col-lg-12 p-3">
                    <h2>Personal Details</h2>
                </div>
                <div class="col-lg-6 p-2">
                    <label for="bdycerno">Birth certificate no:</label>
                    <input type="text" name="birthcerno" id="bdycerno" placeholder="Enter Birth certificate no" class="form-control">
                </div>
                <div class="col-lg-6 p-2">
                    <label for="birthcer">Birth certificate (pdf)</label>
                    <input type="file" name="birthcer" id="birthcer" accept=".pdf" class="form-control">
                </div>
                <div class="col-lg-12 p-3">
                    <h2>SSLC</h2>
                </div>
                <div class="col-lg-6 p-2">
                    <label for="sslcno">Sslc certificate no:</label>
                    <input type="text" name="sslcno" id="sslcno" placeholder="Enter Sslc Certificate no" class="form-control">
                </div>
                <div class="col-lg-6 p-2">
                    <label for="sslc">Sslc certificate (pdf)</label>
                    <input type="file" name="sslc" id="sslc" accept=".pdf" class="form-control">
                </div>
                <div class="col-lg-12 p-3">
                    <h2>Plus two</h2>
                </div>
                <div class="col-lg-6 p-2">
                    <label for="Plustwono">Plustwo certificate no:</label>
                    <input type="text" name="plustwono" id="Plustwono" placeholder="Enter Plus two Certificate number"
                        class="form-control">
                </div>
                <div class="col-lg-6 p-2">
                    <label for="Plustwo">Plustwo certificate (pdf)</label>
                    <input type="file" name="plustwo" id="Plustwo" accept=".pdf" class="form-control">
                </div>

                <div class="col-lg-12 p-2 text-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </form>
</div>