<section class="bg">
    <div class="container">
        <h2 class="text-center text-light fs-2 fw-bold">Welcome <span>{{user}}</span>!</h2>
        <div class="row text-center">
            <div class="col-lg-12">
                
                <button class="btn " style="background-color: lightblue;">Register Exam</button>
                <button class="btn " style="background-color: lightblue;">Registration Status</button>
            </div>
        </div>
    </div>
</section>
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }

    @media (max-width: 450px) {
        .h-custom {
            height: 100%;
        }
    }

    .bg {
        background: url('assets/img/bg.avif') no-repeat center;
        background-size: cover;
        height: 80vh;
    }
</style>