<section>
    <div class="container mt-5">
        <div class="row">
            <form action="/hod/add-paper" method="post">
                <label for="papername">Paper Name</label>
                <input type="text" name="papername" id="papername" class="form-control mb-2">
                <label for="papercode">Paper Code</label>
                <input type="text" name="papercode" id="papercode" class="form-control mb-2">
                <label for="sem">Semester</label>
                <select class="form-select mb-3" name="sem" id="sem" required>
                    <option selected disabled value="">Choose...</option>
                    <option value="1">1st Sem</option>
                    <option value="2">2nd Sem</option>
                    <option value="3">3rd Sem</option>
                    <option value="4">4th Sem</option>
                    <option value="5">5th Sem</option>
                    <option value="6">6th Sem</option>
                </select>
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </div>
    </div>
</section>