<section>
    <div class="container mt-5">
        <div class="row">
            <form action="/hod/add-paper" method="post">
                <label for="papername">Paper Name</label>
                <input type="text" name="papername" id="papername" class="form-control mb-2">
                <label for="papercode">Paper Code</label>
                <input type="text" name="papercode" id="papercode" class="form-control mb-2">
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </div>
    </div>
</section>