<section>
    <div class="conatiner mt-5">
        <div class="row text-center justify-content-center">
            <div class="col-lg-4 ">
                <h2 class="text-center">Add Attandance</h2>
                <form action="/hod/add-attandance/" method="post">
                    <input type="number" min="0" max="100" placeholder="Attandance in %" name="attandance" class="form-control" id="attandance">
                    <input type="text" name="email" value="{{email}}" hidden>
                    <button type="submit" class="btn btn-success mt-2">Submit</button>
                </form>
            </div>
        </div>
        
    </div>
</section>