<div class="container">
    <div class="row mt-5 text-center">
        <div class="main mt-5">
            <h2 class="text-center mb-5">Documents</h2>
        </div>
        <div class="col-lg-4">
            <h3>Birth Certificate</h3>
            <a href="/hod/birth-certificate/{{email}}" class="btn btn-success">Download</a>
        </div>
         <div class="col-lg-4">
            <h3>Plustwo Certificate</h3>
            <a href="/hod/plustwo-certificate/{{email}}" class="btn btn-success">Download</a>
        </div>
         <div class="col-lg-4">
            <h3>Sslc Certificate</h3>
            <a href="/hod/sslc-certificate/{{email}}" class="btn btn-success">Download</a>
        </div>
    </div>
</div>