<div class="container">
    <div class="row">
        <h2 class="text-center mb-3">Select Student</h2>
        <div class="col-lg-4">
            <label for="reg_no" class="form-label">Register no</label>
            <input type="text" name="reg_no" id="reg_no" class="form-control">
        </div>
        <div class="col-lg-4">
            <label for="sem" class="form-label">Semester</label>
            <input type="number" min="1" max="8" name="sem" id="sem" class="form-control">
        </div>
        <div class="col-lg-4 mt-4 pt-2">
            <button class="btn btn-success" onclick="search()">Find</button>
        </div>
    </div>
</div>
<script>
    function search(){
        let reg_no = document.getElementById('reg_no').value
        let sem = document.getElementById('sem').value
        $.ajax({
            url: '/hod/search-student',
            method: 'post',
            data: {
                reg_no,
                sem
            }
        })
    }
</script>